body{
    height: 100%;
    margin: 0%;
    background-color:rgb(243, 240, 236);
}
form{

    padding-top: 2rem;
    padding-bottom:2rem; 

}

#answer{

    font-size: 2em;
    letter-spacing: 1em;
    background-color: antiquewhite;
    border: 3px solid gray;
    width:70%;
    margin:auto;
    font-weight: bold;
}

#usedCorrect,#usedWrong{
    font-size: 2em;
    letter-spacing: .5em;
    background-color: antiquewhite;
    border: 3px solid gray;
    margin:auto;
    font-weight: bold;
    min-height: 2em;
}


h1{
    margin-bottom: 1em;
}
